[submodule "ascustomer"]
	path = ascustomer
	url = git@github.com:KeepMEATable/asCustomer.git
[submodule "api"]
	path = api
	url = git@github.com:KeepMEATable/api.git
[submodule "asholder"]
	path = asholder
	url = git@github.com:KeepMEATable/asHolder.git
[submodule "app"]
	path = app
	url = git@github.com:KeepMEATable/app.git
